Add a lovely little linkypoo:<br>

<form action="/links" method="post">
Name of Webpage:<br>
  <input type="text" name="Name">
URL of Webpage:<br>
  <input type="text" name="URL">
<input type="submit" value="Submit">
</form>
