Add a lovely little linkypoo:<br>

<form action="/links" method="post">
Name of Webpage:<br>
  <input type="text" name="Name"><br>
URL of Webpage:<br>
  <input type="text" name="URL"><br>
  Tags:<br>
    <input type="text" name="Tags"><br>
<input type="submit" value="Submit"><br>
</form>
