Bookmark Manager: Sign-up Below<br>
<form action="/users" method="post">
  Email:<br>
  <input type="text" name="email"><br>
  Password:<br>
  <input type="text" name="password"><br>
  <input type="submit" value="Submit">
</form>
